body {
	font-family: 'Merienda', cursive;
	background-color: lightgoldenrodyellow;
}

ol li::marker,
ul li::marker {
	color: lightseagreen;
}

ul {
	display: inline-block;
	border: 3px solid lightsalmon;
	border-radius: 5px;
	padding-block: 20px;
	padding-right: 20px;
	margin-left: 10px;
}

li {
	padding: 5px;
}

img {
	display: block;
	margin: 0 auto;
	height: 100%;
}

h3,
strong {
	background: linear-gradient(90deg, #da4453 0%, #89216b 100%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.heading {
	font-size: 42px;
	color: coral;
}

.image {
	border: 2px solid coral;
	border-radius: 10px;
}

.list-link,
.link {
	text-decoration: none;
}

.list-link:link,
.link:link {
	color: cadetblue;
}

.list-link:visited,
.link:visited {
	color: palevioletred;
}

.list-link:hover,
.link:hover {
	color: coral;
	text-decoration: underline;
}

.list-link:active,
.link:active {
	color: #da4453;
}

.center {
	text-align: center;
}

ol .list-item:not(:last-child) {
	margin-bottom: 10px;
}
